*** Targets ***

probe = FPing

menu = Top
title = Network Latency Grapher
remark = Welcome to the SmokePing website of xxx Company. \
         Here you will learn all about the latency of our network.


{% for group in smokeping_targets %}
+ {{ group.group_name|replace(" ", "") }}
menu = {{ group.menu }}
title = {{ group.title }}

{% for host in group.hosts %}

++ {{ host.menu|replace(" ", "") }}

menu = {{ host.menu }}
title = {{ host.title }}
host = {{ host.host }}

{% endfor %}
{% endfor %}
